<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改密码-教师</title>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.5/css/layui.css"/>
    <script src="https://www.layuicdn.com/layui-v2.5.5/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
<div th:replace="~{teacher/index::head}"></div>
<div th:replace="~{teacher/index::left}"></div>
<div class="layui-body">
    <div class="layui-main">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">原密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" id="password" required lay-verify="required" placeholder="请输入原密码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux" id="text1"></div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="newPassword" id="newPassword" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">重复新密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="newPasswordRepeat" id="newPasswordRepeat" required lay-verify="required" placeholder="再次输入新密码" autocomplete="off" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux" id="text3"></div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="submit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{teacher/index::foot}"></div>
</div>
</body>
</html>
<script>
    layui.use(['jquery','form'],function () {
        var $ = layui.jquery;
        var form = layui.form;
        form.on('submit(submit)', function (data) {
            var newPassword = $("#newPassword").val();
            var newPasswordRepeat = $("#newPasswordRepeat").val();
            if(newPassword != newPasswordRepeat) {
                $("#text3").html("两次密码输入不一致，请检查重新输入");
                return false;
            } else {
                $("#text1").html("");
                $("#text3").html("");
                $.ajax({
                    url: "/tea/passwords",
                    type: "put",
                    data: data.field,
                    success:function (result) {
                        if(result.code == 200) {
                            layer.msg("修改成功,请用新密码重新登录");
                            setTimeout(function () {
                                window.location.replace("/logout");
                            },2000);
                        }
                        else {
                            $("#text1").html("原密码输入有误，请重新输入");

                        }
                    }
                });
                return false;
            }

        });

    })
</script>