<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.5/css/layui.css"/>
    <script src="https://www.layuicdn.com/layui-v2.5.5/layui.js"></script>
</head>
<body>
<div class="layui-main">
<table class="layui-table">
    <tr>
        <th>学号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>年级</th>
        <th>学院</th>
        <th>专业</th>
        <th>班级</th>
        <th>成绩</th>
    </tr>
    <tr th:each="item:${session.studentInfoWithGrade}">
        <td th:text="${item.stuId}"></td>
        <td th:text="${item.name}"></td>
        <td th:text="${item.sex}"></td>
        <td th:text="${item.year}"></td>
        <td th:text="${item.collName}"></td>
        <td th:text="${item.proName}"></td>
        <td th:text="${item.claId}"></td>
        <td><input style="border: none" type="text" th:value="${item.grade}"/></td>

    </tr>
</table>
</div>
</body>
</html>