<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看基本信息</title>
    <link rel="stylesheet" href="https://www.layuicdn.com/layui-v2.5.5/css/layui.css"/>
    <script src="https://www.layuicdn.com/layui-v2.5.5/layui.js"></script>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div th:replace="~{teacher/index::head}"></div>
    <div th:replace="~{teacher/index::left}"></div>
    <div class="layui-body">
        <div class="layui-main">
            <table class="layui-table">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>编号</th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>职称</th>
                    <th>学院</th>
                    <th>专业</th>
                    <th>身份证号</th>
                    <th>入职年份</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${teaInfo.teaId}"></td>
                    <td th:text="${teaInfo.name}"></td>
                    <td th:text="${teaInfo.sex}"></td>
                    <td th:text="${teaInfo.proTitle}"></td>
                    <td th:text="${teaInfo.collName}"></td>
                    <td th:text="${teaInfo.proName}"></td>
                    <td th:text="${teaInfo.cardId}"></td>
                    <td th:text="${teaInfo.year}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
    <div th:replace="~{teacher/index::foot}"></div>
</div>
</body>
</html>